/* ========================= */
/* 🔁 RESET */
/* ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #0a0a0a;
    color: #fff;
    overflow-x: hidden;
}

/* PANEL */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%;
    height: 100vh;
    background: rgba(10,10,10,0.95);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
    gap: 25px;
    transition: right 0.4s ease;
    z-index: 999;
}

.mobile-menu.active {
    right: 0;
}

/* FOOTER */
footer {
    margin-top: 10px;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #222;
}

footer p {
    color: #777;
}